target/
.idea/
chromedriver
chromedriver.exe
geckodriver
geckodriver.exe
javaWebdriverCucumber.iml


# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
